# Whenever you release new versions of services, change env or Dockerfile
# you must start containers with rebuilding docker images by the command:
# docker-compose up --build -d
# or only certain services:
# docker-compose up --build -d money-manager-frontend
# or just build images:
# docker-compose build money-manager-frontend

services:
  nginx:
    image: money-manager-nginx:${VERSION}
    build:
      context: ./nginx
      dockerfile: Dockerfile
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx/ssl:/etc/nginx/ssl
    depends_on:
      - money-manager-frontend
      - money-manager-backend
    networks:
      - money-manager-network

  money-manager-backend:
    image: money-manager-backend:${VERSION}
    build:
      pull: false
      context: .
      dockerfile: Dockerfile
    expose:
      - "8081"
    environment:
      PORT: 8081
      POSTGRES_HOST: money-manager-postgres
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_PORT: 5432
      ALLOWED_ORIGINS: ${ALLOWED_ORIGINS}
      GOOGLE_CLIENT_ID: ${GOOGLE_CLIENT_ID}
      GOOGLE_CLIENT_SECRET: ${GOOGLE_CLIENT_SECRET}
      VK_CLIENT_ID: ${VK_CLIENT_ID}
      VK_CLIENT_SECRET: ${VK_CLIENT_SECRET}
      TOKEN_EXPIRATION_PERIOD: 30d
      TOKEN_SECRET: ${TOKEN_SECRET}
      ENABLE_SWAGGER: ${ENABLE_SWAGGER}
    networks:
      - money-manager-network

  money-manager-frontend:
    image: money-manager-frontend:${VERSION}
    build:
      pull: false
      context: ../money-manager-front
      dockerfile: Dockerfile
      # These arguments are set on the image build
      args:
        NODE_ENV: production
        REACT_APP_BACKEND_HOST: ${REACT_APP_BACKEND_HOST}
        GENERATE_SOURCEMAP: false
    expose:
      - "80"
    networks:
      - money-manager-network

  money-manager-postgres:
    image: postgres:17.5
    ports:
      - "127.0.0.1:${POSTGRES_PORT}:5432"
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    networks:
      - money-manager-network
    volumes:
      - money-manager-postgres-data:/var/lib/postgresql/data

volumes:
  money-manager-postgres-data:
    driver: local

networks:
  money-manager-network:
    driver: bridge
